<%- include('./partials/head')-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Starter NodeJS, MySQL et EJS.</h1>
      <% if (message) {%>
          <p><%= message %></p>
        <%}
          else {%> <p>Il n'ya pas de contenu</p> <%}

      %>
      <h2>Liste des produits</h2>
      <ul>
        <% produits.forEach(function(produit) { %>
          <li> Nom: <%= produit.nom_produit %>  <img src="<%= produit.url_image_produit %>" alt="<%= produit.alt_image %>"></li>
        <% }); %> 

      </ul>
    </div>
  </div>
</div>
  <%- include('./partials/footer')-%>